@model IEnumerable<NorthwestLab.Models.WorkOrders>

@{
    ViewBag.Title = "WorkOrders";
}

<h2>Work Orders</h2>

<p>
    @Html.ActionLink("Create Work Order", "NewWorkOrder", null, new { @class = "btn btn-primary mt-3" })
    
        @Html.ActionLink("Request Quote", "ComingSoon", "Home", null, new { @class = "btn btn-primary mt-3" })
    
</p>
<h4 class="mt-4">Open Work Orders</h4>
<table class="table mt-4">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateReceived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuotedPrice)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkOrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReceived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuotedPrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.WorkOrderID }) |
                @Html.ActionLink("Details", "Details", new { id = item.WorkOrderID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.WorkOrderID })
            </td>
        </tr>
    }

</table>
</ br>
<h4>Completed Work Orders</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateReceived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuotedPrice)
        </th>
        <th></th>
    </tr>
</table>
