@model IEnumerable<NorthwestLab.Models.Tests>

@{
    ViewBag.Title = "Tests";
}

<h2>Tests</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Assays.WorkOrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssayTestTypes.TestTypes.TestName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DependencyTypes.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerApproval)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Assays.WorkOrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssayTestTypes.TestTypes.TestName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DependencyTypes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerApproval)
        </td>
        <td>
            @Html.ActionLink("Details","Details",new { id = item.TestID})|
            @Html.ActionLink("Enter Time", "LogTime", new { id = item.TestID})
        </td>
    </tr>
    }
</table>
