@model IEnumerable<NorthwestLab.Models.Samples>

@{
    ViewBag.Title = "ReceiveSample";
}

<h2>ReceiveSample</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Compounds.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SampleSequenceID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WorkOrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Compounds.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.SampleSequenceID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.SampleID }) |
            @Html.ActionLink("Details", "Details", new { id = item.SampleID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.SampleID })
        </td>
    </tr>
}

</table>
